/* #loader{
  background-image: url("https://loading.io/assets/img/c/loader/golden.svg");
  border: 4px solid #f3f3f3;
  border-top: 4px;
  border-radius: 50%;
  width: 40px;
  height: 40px; */
  /* animation: spin 2s linear infinite;
  background-repeat: no-repeat; */
/* } */

#table_id {
  font: 1em sans-serif;
  margin: 0px auto;
  padding: 0px;
  max-width: 90%;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid rgb(240, 240, 240);
}

#table_body{
  background-color: rgb(240, 240, 240);
}

#table_id thead th {
  background-color: white !important;
  /* border: 1px solid white !important; */
}

#table_id tbody tr td{
  border: 1px solid white !important;
  background-color: rgb(240, 240, 240);
  padding-left: 10px;
  height: 2rem;
}

#table_id_wrapper .ui-toolbar{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

#table2function{
  padding: 0.5rem;
  font-weight: 900;
  cursor: pointer;
  margin-right: 20px;
}

#reinitFunction{
  padding: 0.5rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: 20px;
  margin-left: -10px;
}

#header{
  margin-left: 158px;
  margin-bottom: 8px;
  font-weight: 600;
}

.dataTables_length{
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 159px;
  font-size: 10px;
  letter-spacing: 1px;
}

.dataTables_length select{
  padding: -0.8rem;
  /* align-items: center;
  justify-content: center; */
  border: 2px solid rgb(240, 240, 240);
  outline: rgb(240, 240, 240);
  border-radius: 5px;
}

#table_id_filter label{
  padding: 0.2rem;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-right: 153px;
  font-size: 10px;
  letter-spacing: 1px;
  float: left;
  display: inline-block;
  width: 100%;
}

#table_id_filter input{
    border: 2px solid rgb(240, 240, 240);
    outline: rgb(240, 240, 240);
    border-radius: 5px;
}

#btn-reload{
  cursor: pointer;
  /* border: 3px solid rgb(224, 224, 224); */
  outline: rgb(240, 240, 240);
  margin-right: 17px;
  border: none;
  font-size: 12px;
  color: blue;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 1px;
}

.dataTables_info{
  width: 100%;
  margin-left: 163px;
  max-width: 90%;
  padding: 0px;
}

.dataTables_paginate{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
  margin-right: 160px;
  cursor: pointer;
}

#table_id_processing{
  position: absolute;
  width: 100%;
  text-align: center;
}

.btnTable2{

}